button {
  width: 100%;
  background-color: var(--main-color);
  outline: 0;
  border: 0;
  padding: 16px 24px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 1px;
  border-radius: 5px;
  height: 48px;
  box-shadow: 2px 2px 6px 1px rgba(93, 214, 154, .6);
}
button.loading {
  background-color: rgb(150, 218, 184);
}
